{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div class="logo">
				<!--<img src="{{AppSubURL}}/img/favicon.png" />-->
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					Open Source Fashion
				</h1>
				<h2>The collaborative fashion platform{{/*.i18n.Tr "app_desc"*/}}</h2>
			</div>
		</div>
	</div>

		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-beaker"></i> What is it?
				</h1>
				<p class="large">
					Think of it as your fashion creations laboratory, where you can store, share, manage and experiment with your designs. <br>
					<!--<br>-->
					<!--The OSF is a full <i>'version control repository'</i> - something that software folks use to keep track of their code changes - focused on supporting the fashion community.<br>-->
					<br>
					Whether its the sketches of a new dress, a wearable gadget or a 3D printed bracelet, this is the place to go!<br>
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-code"></i> Keep track of every change
				</h1>
				<p class="large">
					The OSF keeps track of every change you make to your project - which files, designer and their notes. <br>
					<br>
					You can restore things you deleted or revert the changes you made to your files.<br>
				</p>
			</div>
		</div>
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-repo-forked"></i> Collaborate
				</h1>
				<p class="large">
					You can have multiple variations of the same design as well as many designers working in the same project.<br>
					<br>
					It also lets you copy public projects to experiment and make your own changes to them!<br>
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-comment-discussion"></i> Be social
				</h1>
				<p class="large">
					Brands, companies and groups of students or friends can create their own 'organizations' to group their creations and work.<br>
					<br>
					Each project has it's own 'home page', Wiki, and a discussion board.<br>
				</p>
			</div>
		</div>
</div>
{{template "base/footer" .}}
